{% extends 'main.html' %}

  {% block content %}



<div class="home-container">
  <!--TOPIC-->
  <div>
    {% include 'base/topic_components.html' %}
  </div>
  <!--MAIN-->
  <div>
      <h5>{{room_count}} rooms available</h5>
    <a href="{% url 'create_room' %}">Create room</a>
    {% include 'base/feed_components.html' %}
  </div>
  <!--ACTIVITY-->
  <div>
    {% include 'base/activity_components.html' %}
  </div>

</div>

{% endblock %}
