{% extends 'main.html' %}

{% block content %}




<p>{{user.username}}</p>

<div class="profile-container">
    <div>
        {% include 'base/topics_component.html' %}
    </div>

    <div>
        {% include 'base/feed_components.html' %}
    </div>


    <div>
         {% include 'base/activity_components.html' %}
    </div>
</div>

{% endblock content %}


 <div class="topics">
        <div class="topics__header">
          <h2>Browse Topics</h2>
        </div>
        <ul class="topics__list">
          <li>
            <a href="/" class="active">All <span>553</span></a>
          </li>
          <li>
            <a href="/">Python <span>232</span></a>
          </li>
          <li>
            <a href="/">JavaScript <span>122</span></a>
          </li>
          <li>
            <a href="/">React <span>57</span></a>
          </li>
          <li>
            <a href="/">Database <span>90</span></a>
          </li>
        </ul>
        <button class="btn btn--link" href="/">
          More
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>chevron-down</title>
            <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
          </svg>
        </button>
      </div>