{% extends 'main.html' %}

{% block content %}



<div class="room-container">

    <div>
    <h1>Room: {{room.name}}</h1>
    <p>{{room.description}}</p>

    <div class="comment-wrapper">
        {% for message in messages %}
          <div>
              {% if request.user == message.user %}
              <a href="{% url 'delete_message' message.id %}">Delete</a>
              {% endif %}
              <small>@{{message.user}} {{message.created|timesince}} ago </small>
              <p> {{message.body}} <p></p>
              <hr>
          </div>
        {% endfor %}
    </div>

  {% if request.user.is_authenticated %}
    <div class="comment-form">
      <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Write your message here ...">
      </form>
    </div>
  {% endif %}
   </div>

    <div>
      <h3>Participants</h3>
      <hr>
        {% for user in participants %}
            <div>
                <p>@{{user.username}}</p>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
